.jumbotron {
    padding-top: 10rem;
    background-color: #e2edff;
}

#project {
    background-color: #e2edff;
}

footer .social {
    padding: 1rem 0;
  }
  
  footer .social a {
    margin: 1rem;
  }
  
  footer .social a:hover,
  footer .links a:hover {
    color: var(--bg);
  }
  
.icon-10 { font-size: 10px; }
.icon-22 { font-size: 22px; }
.icon-24 { font-size: 24px; }
.icon-28 { font-size: 28px; }

section {
  padding-top: 5rem;
}

